<!-- Code Credit https://codepen.io/marceloag/pen/nzLmu -->

<div class="container" [@cardAnimation]="cardState">
  <header>
    <div class="bio">
      <img src="assets/cover.jpg" alt="background" class="bg">
      <div class="desc">
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat reiciendis aspernatur, porro ea ad amet. Voluptatum similique error deleniti libero tenetur ducimus minus, numquam earum voluptas impedit nam nihil fugiat.</p>
      </div>
    </div>

    <div class="avatarcontainer">
      <img src="assets/profile.png" alt="avatar" class="avatar">
      <div class="hover">
          <div class="icon-twitter"></div>
      </div>
    </div>


  </header>

  <div class="content">
    <div class="data">
      <ul>
        <li>
          2,934
          <span>Tweets</span>
        </li>
        <li>
          1,119
          <span>Followers</span>
        </li>
        <li>
          530
          <span>Following</span>
        </li>
      </ul>
    </div>

    <div class="follow"> <div class="icon-twitter"></div> Follow</div>
  </div>

</div>
